<div class="page">
  <section class="home">
    <div class="section-content">
      <h1>Olá! Esta é a Angucar!</h1>
      <p>A loja preferida dos amantes de carros. Que tal dar uma olhada?</p>
      <p-button label="Carros" (onClick)="scrollToSection('carros')" icon="pi pi-arrow-down" [style]="{'background-color': 'var(--primary-color)'}"></p-button>
      <p-button label="Peças" (onClick)="scrollToSection('pecas')" icon="pi pi-arrow-down" [style]="{'background-color': 'var(--primary-color)'}"></p-button>
    </div>
  </section>
  <section class="home section-1">
    <img src="../../../assets/images/carros/camaro.png" class="imagem sem-borda">
    <div class="poligono"></div>
  </section>
</div>

<app-carousel *ngIf="habilitarHomeCompleta"></app-carousel>