:host ::ng-deep {

  .page {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }

  .home {
    color: var(--font-color);
    background-color: var(--background-theme);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
    
    .apresentacao {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    .card {
      width: 50%;
      margin: 0 auto;
    }
    .p-button:enabled:hover {
    border-color: var(--button-color);
    background-color: var(--primary-color);
    }

    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
      background-color: var(--primary-color);
    }

    @media screen and (max-width: 768px) {
        .card {
            scale: 1;
        }
    }
  }