:host ::ng-deep {

    .card {
      background-color: var(--background-theme);
    }

    .car-catalog-container {
      padding: 20px;
    }
  
    .car-catalog {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
    }
  
    .car-card {
      width: calc(33.33% - 10px);
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      text-align: center;
      transition: transform 0.2s ease;
    }
  
    .car-card:hover {
      transform: translateY(-5px);
    }
  
    .car-card img {
      max-width: 50%;
      max-height: 80%;
      min-height: 80%;
    }
  
    .car-card h3 {
      font-size: 20px;
      margin-top: 5px;
      color: var(--font-color);
    }
  
    .car-card p {
      font-size: 10px;
      font-weight: bold;
      color: #007bff;
      margin-top: 5px;
    }

    .p-button:enabled:hover {
        border-color: var(--primary-color) !important;
        background: var(--primary-color);
      }

      .page {
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
      }
    
      .home {
        color: var(--font-color);
        background-color: var(--background-theme);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        flex-direction: column;
      }
    
      .apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      @media (max-width: 767px) {
        .car-catalog {
          flex-direction: column;
          align-items: center;
        }

        .car-card {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .p-multiselect {
        width: 58vw;
        min-width: 58vw;
    }

    .p-checkbox .p-checkbox-box {
      border: 2px solid var(--primary-color);
      background: white;
      width: 22px;
      height: 22px;
      border-radius: 6px;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    }

    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
      color: #0e0e0f;
    }

    .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
      color: white;
      background: #ffffff;
    }

    .p-multiselect:not(.p-disabled):hover {
      border-color: var(--primary-color);
    }

    .p-multiselect:not(.p-disabled).p-focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2rem rgb(212, 211, 211);
    }
  }
  