<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header" [style]="{'color': 'var(--background-color)'}">
    <p-card header="Dá uma olhada!" [style]="{ width: '170px', 'font-size': '24px'}">
    </p-card>
  </ng-template>
  <ng-template pTemplate="content">
    <p-button (onClick)="redirecionarPara('/home')"
              icon="pi pi-home"
              label="Home"
              [style]="{'background-color': 'var(--primary-color)', 'width': '170px'}"
              ></p-button>
    <br>
    <p-button (onClick)="redirecionarPara('/cars')"
              icon="pi pi-car"
              label="Marcas"
              [style]="{'background-color': 'var(--primary-color)', 'width': '170px'}"
              ></p-button>
    <br>
    <p-button (onClick)="redirecionarPara('/lista-de-compras')" 
              icon="pi pi-shopping-cart" 
              label="Seu carrinho" 
              [style]="{'background-color': 'var(--primary-color)', 'width': '170px'}"
              ></p-button>
  </ng-template>
  <ng-template pTemplate="footer">developed by <a href="https://www.linkedin.com/in/marcelosjr/" target="_blank">Marcelo Junior</a></ng-template>
</p-sidebar>
<p-button (onClick)="sidebarVisible = !sidebarVisible" icon="pi pi-plus" [style]="{'background-color': 'var(--primary-color)'}"></p-button>
