@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import "src/assets/scss/themes.scss";
@import "~bootstrap/dist/css/bootstrap.css";


* {
  font-family: 'Merriweather', serif;
}
html, body { height: 100%; }
body {
  margin: 0;
}

// variaveis css pra usar dentro do projeto

  :root {

    --background-theme: #D0DDD7;
    --primary-color: #09ca70;
    --border-button-color: #363537;

    .dark-mode {
    --background-theme: #090909;
    --button-color: white;
    --border-button-color: #D0DDD7;
    }

    .p-button {
      background-color: var(--button-color);
      border-color: var(--border-button-color);
    }
  }
